catboost==1.2.5
lightgbm==4.6.0
lightning==2.4.0
numpy==1.26.4
openml==0.14.2
optuna==3.6.1
pandas==3.0.3
python-dotenv==1.2.2
rtdl_revisiting_models==0.0.2
scikit_learn==1.8.0
scipy==1.17.1
torch==2.4.0
xgboost==3.2.0